<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="./test/Bootstrap.php"
        colors="true"
        backupGlobals="false"
        >
    <testsuites>
        <testsuite name="Doctrine test">
            <directory>./test/MintSoftFormBakeryTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>